<div ng-include="'views/common/sidemenu.tpl.html'"></div>
<div class="gray-bg dashbard-1" id="page-wrapper">
  <div ng-include="'views/common/topbar.tpl.html'"></div>
  <div class="container-fluid" id="wrapper" ng-controller="ActividadCreateController as actiCreateCtrl">
    <div class="row">
      <form name="actividadCreate" ng-submit="actiCreateCtrl.create()" role="form">
        <div align="center" style="font-size:20px;">ACTIVIDADES</div>
        <fieldset class="form-group">
          <label>Nombre:</label>
          <input class="form-control input-lg" ng-model="actiCreateCtrl.actividad.nombre" placeholder="Nombre de la Actividad" type="text">
          <label>Descripción:</label>
          <input class="form-control input-lg" ng-model="actiCreateCtrl.actividad.descripcion" placeholder="Descripción de la Actividad" type="text">
          <button class="btn btn-primary btn-lg" type="submit">Guardar</button>
        </fieldset>
      </form>
    </div>
    <div class="row">
      <div class="myGrid" ui-grid-pagination ui-grid-selection ui-grid="actiCreateCtrl.gridOptions1"></div>
      <button class="btn btn-primary btn-lg" ng-click="actiCreateCtrl.editar()" type="button">Editar</button>
      <button class="btn btn-primary btn-lg" ng-click="actiCreateCtrl.editar()" type="button">Eliminar</button>
      <button class="btn btn-primary btn-lg" ng-click="actiCreateCtrl.editar()" type="button">Configurar Calificaciones</button>
    </div>
  </div>
</div>
