<div ng-include="'views/common/sidemenu.tpl.html'"></div>
<div class="gray-bg dashbard-1" id="page-wrapper">
  <div ng-include="'views/common/topbar.tpl.html'"></div>
  <div class="container-fluid" id="wrapper">
    <div class="row">
      <form name="personaCreate" ng-submit="controller.create()" role="form">
        <div align="center" style="font-size:20px;">REGISTRO DE EMPLEADOS</div>
        <fieldset class="form-group">
          <label>Tipo de Identificacion:</label>
          <select-tipo-identificacion object="controller.selectedEmpleado.tipoIdentificacion"></select-tipo-identificacion>

          <label>Identificacion:</label>
          <input class="form-control input-lg" ng-model="controller.selectedEmpleado.identificacion" placeholder="Identificacion" type="text">
          <label>Nombres:</label>
          <input class="form-control input-lg" ng-model="controller.selectedEmpleado.nombres" placeholder="Nombres" type="text">
          <label>Apellidos:</label>
          <input class="form-control input-lg" ng-model="controller.selectedEmpleado.apellidos" placeholder="Apellidos" type="text">
          <label>Tipo de Usuario/Empleado:
          </label>
          <select class="js-example-basic-single form-control" id="categ" ng-controller="TipoEmpleadoListController as tiemListCtrl" ng-model="empCreateCtrl.persona.tipoempleado" style="width: 100%">
            <option ng-repeat="tiem in tiemListCtrl.tipos" value="{{tiem.id}}">{{tiem.nombre}}</option>
          </select>

          <label><input class="js-example-basic-single"  type="checkbox" ng-model="controller.registarUsuario">¿ Registrar Usuario ?</label>

          <div ng-show="empCreateCtrl.registarUsuario">
            <label>Usuario:</label>
            <input class="form-control input-lg" ng-model="controller.selected.usuario" placeholder="Usuario" type="text">
            <label>Contraseña:</label>
            <input class="form-control input-lg" ng-model="controller.selected.password" placeholder="Escriba aqui su contraseña" type="password">
            <label>Repetir Contraseña:</label>
            <input class="form-control input-lg" ng-model="controller.selected.passwordrep" placeholder="Repita aqui su contraseña" type="password">
          </div>
        </fieldset>
        <button class="btn btn-primary btn-lg" type="submit">
          Guardar
        </button>
      </form>
    </div>
    <div class="row top3">
      <div class="myGrid" ui-grid-pagination ui-grid-selection ui-grid="controller.gridOptions"></div>
      <button class="btn btn-primary btn-lg" ng-click="selected.edit()" type="button">Editar</button>
      <button class="btn btn-primary btn-lg" ng-click="selected.delete()" type="button" ng-really-message="¿Esta Seguro?">Eliminar</button>
    </div>
  </div>
</div>
