<div class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Agregar y/o quitar Actividades</h4>
      </div>
      <div class="modal-body">
        <p>Por favor, utilice los botones para agregar y/o quitar actividades a los tipos de Lugares</p>
        <form>
        <div>
  		  <table class="table table-condensed" >
          <thead>
            <tr>
              <th>Actividades agregadas al Tipo de Lugar</th>
            </tr>
            <thead>
            <tbody>
              <tr >
                <td >Retiro de Papeleras</td>
              </tr>
              <tr >
                <td >Desinfección de Sanitarios</td>
              </tr>
              <tr >
                <td > Desinfección de Orinales</td>
              </tr>
            <tbody>
        </table>
    </div>
    <div align="center">
        <button type="button" class="btn btn-primary">Agregar</button>
        <button type="button" class="btn btn-primary">Eliminar</button>
      </div>
    <div>
        <table class="table table-condensed" >
          <thead>
            <tr>
              <th>Actividad por Agregar</th>
            </tr>
            <thead>
            <tbody>
              <tr >
                <td >Limpieza de Lavamanos</td>
              </tr>
              <tr >
                <td >Limpieza de Espejos</td>
              </tr>
              <tr >
                <td >Estado del Piso</td>
              </tr>
              <tr >
                <td >Lavado de Papeleras</td>
              </tr>
            <tbody>
        </table>
    </div>
  </form>
    </div>
      <div class="modal-footer">
        <button type="button" ng-click="cancel()" class="btn btn-primary">Cerrar</button>
      </div>
    </div>
  </div>
</div>