<div class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"  data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Calificación realizadas al Lugar</h4>
      </div>
      <div class="modal-body">
        <p>Este listado corresponde a las calificaciones dadas por el Supervisor al momento de realizar la supervisión al Lugar</p>
        <table class="table table-condensed" >
          <thead>
            <tr>
              <th>Actividad</th>
              <th>Calificacion</th>
            </tr>
            <thead>
              <tbody>
                <tr >
                  <td >Retiro de Papeleras</td>
                  <td >Incompleto</td>
                </tr>
                <tr >
                  <td >Desinfección de Sanitarios</td>
                  <td >Faltante</td>
                </tr>
                <tr >
                  <td > Desinfección de Orinales</td>
                  <td > Completo</td>
                </tr>
                <tr >
                  <td >Limpieza de Lavamanos</td>
                  <td >Completo</td>
                </tr>
                <tr >
                  <td >Limpieza de Espejos</td>
                  <td >Completo</td>
                </tr>
                <tr >
                  <td >Estado del Piso</td>
                  <td >Limpio</td>
                </tr>
                <tr >
                  <td >Lavado de Papeleras</td>
                  <td >Completo</td>
                </tr>

                <tbody>
                </table>

              </div>
              <div class="modal-footer">
                <button type="button" ng-click="cancel()" class="btn btn-primary">Cerrar</button>
              </div>
            </div>
          </div>
        </div>
