<div class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <header class="modal-header">
        <button aria-hidden="true" class="close" data-dismiss="modal" ng-click="close()" type="button">&times;</button>
        <h4 class="modal-title">Actividades Para El Tipo De Lugar {{modalActCtrl.tipoLugar.nombre}}</h4>
      </header>
      <div class="modal-body">
        <div class="row">
          <form ng-submit="modalActCtrl.addActividad()">
            <div class="form-group row">
              <label class="col-sm-2 form-control-label" for="inputPassword">Actividad</label>
              <div class="col-sm-10">
                <select class="form-control" ng-model="modalActCtrl.actividadSelected" ng-options="option.actividadnombre for option in modalActCtrl.listActividades track by option.actividadid"></select>
              </div>
            </div>
            <input class="btn btn-primary btn-lg" type="submit" value="Guardar" />
          </form>
        </div>
        <div class="row">
          <div class="myGrid" ui-grid-pagination ui-grid-selection ui-grid="modalActCtrl.gridOptions1"></div>
            <button class="btn btn-primary btn-lg" ng-click="modalActCtrl.delActividad()" >Eliminar </button>
        </div>
      </div>
    </div>
  </div>
</div>
