<div ng-include="'views/common/sidemenu.tpl.html'"></div>
<div class="gray-bg dashbard-1" id="page-wrapper">
  <div ng-include="'views/common/topbar.tpl.html'"></div>
  <div class="container-fluid" ng-controller="SupervisionListController as actiCreateCtrl">
    <div class="row">
      <div align="center" style="font-size:20px;">SUPERVISIONES REALIZADAS</div>
      <div class="myGrid" ui-grid-pagination ui-grid-selection ui-grid-exporter ui-grid="actiCreateCtrl.gridOptions1"></div>
      <a class="btn btn-primary btn-lg" href ng-click="showComplex()">Ver Calificaciones</a>
    </div>
  </div>
</div>
