<div>TIPO DE EMPLEADO</div>
<div id="wrapper" ng-controller="TipoEmpleadoCreateController as tipCreateCtrl">
  <form name="tipoEmpleadoCreate" role="form" ng-submit="tipCreateCtrl.create()">
    <fieldset class="form-group">
      <label>Nombre del tipo de Empleado:</label>
      <input class="form-control input-lg" type="text" placeholder="Nombre del tipo de Empleado"
        ng-model="tipCreateCtrl.tipoEmpleado.nombre">
    </fieldset>
    <fieldset class="form-group">
      <label>Descripción: </label>
      <input class="form-control input-lg" type="text" placeholder="Descripción del tipo de Empleado"
        ng-model="tipCreateCtrl.tipoEmpleado.descripcion">
    </fieldset>

    <button class="btn btn-primary btn-lg" type="submit" href="/tipoEmpleado.html" >
      Guardar
    </button>

  </form>

</div>

<hr>
<table class="table table-condensed" ng-controller="TipoEmpleadoListController as tipListCtrl">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Descripcion</th>
    </tr>
  </thead>
  <tbody>
  <tr ng-repeat="tipol in tipListCtrl.tipos | orderBy:'name'">
    <td ng-bind="tipol.id"></td>
    <td ng-bind="tipol.nombre"></td>
    <td ng-bind="tipol.descripcion"></td>
  </tr>
</tbody>
</table>
