<div class="ui-grid-cell-contents">
  <div class="text-center">
    <div class="">
      <button type="button" class="btn btn-xs btn-success" ng-click="grid.appScope.showActividades(row)">
        <i class="fa fa-list"></i>
      </button>
      <button type="button" class="btn btn-xs btn-warning" ng-click="grid.appScope.edit(row)">
        <i class="fa fa-edit"></i>
      </button>
      <button type="button" class="btn btn-xs btn-danger" ng-click="grid.appScope.delete(row)">
        <i class="fa fa-trash"></i>
      </button>
    </div>
  </div>
</div>
