<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element">
          <span>
            <img alt="image" class="img-circle" src="img/gapx_profile_small.png" />
          </span>
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="clear">
              <span class="block m-t-xs">
                <strong class="font-bold"></strong>
              </span>
              <span class="text-muted text-xs block">
                Administrador del Sistema
              </span>
            </span>
          </a>
        </div>
        <div class="logo-element">
          IN+
        </div>
      </li>
      <li ui-sref-active="active">
        <a  ui-sref="app.tipo-empleado">
          <i class="fa fa-sitemap"></i>
          <span class="nav-label">Tipos de Usuario/Empleado</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a  ui-sref="app.empleado">
        <i class="fa fa-bar-chart-o"></i>
          <span class="nav-label">Usuarios/Empleados</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a  ui-sref="app.tipo-lugar">
        <i class="fa fa-globe"></i>
          <span class="nav-label">Tipos de Lugares</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a  ui-sref="app.lugar">
        <i class="fa fa-picture-o"></i>
          <span class="nav-label">Lugares</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a  ui-sref="app.actividad"><i class="fa fa-magic"></i>
          <span class="nav-label">Actividades</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a  ui-sref="app.calificacion-actividad">><i class="fa fa-flask"></i>
          <span class="nav-label">Calificaciones</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a  ui-sref="app.supervision"><i class="fa fa-table"></i>
          <span class="nav-label">Supervisones</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
