<div class="container-fluid container-fullw ng-scope">
  <div class="row">
    <div class="col-md-12">
      <h5 class="over-title margin-bottom-15">Striped <span class="text-bold">rows</span></h5>
      <p>
        Use <code>.table-striped</code> to add zebra-striping to any table row within the <code>&lt;tbody&gt;</code>.
      </p>
      <table id="sample-table-2" class="table table-striped table-hover">
        <thead>
          <tr>
            <th class="center">Photo</th>
            <th>Full Name</th>
            <th class="hidden-xs">Role</th>
            <th class="hidden-xs">Email</th>
            <th class="hidden-xs">Phone</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="center"><img alt="image" class="img-rounded" src="assets/images/avatar-1.jpg"></td>
            <td>Peter Clark</td>
            <td class="hidden-xs">UI Designer</td>
            <td class="hidden-xs">
              <a target="_blank" rel="nofollow" href="#">
                peter@example.com
              </a></td>
              <td class="hidden-xs">(641)-734-4763</td>
              <td class="center">
                <div class="visible-md visible-lg hidden-sm hidden-xs">
                  <a uib-tooltip="Edit" tooltip-placement="top" class="btn btn-transparent btn-xs" href="#"><i class="fa fa-pencil"></i></a>
                  <a uib-tooltip="Share" tooltip-placement="top" class="btn btn-transparent btn-xs tooltips" href="#"><i class="fa fa-share"></i></a>
                  <a uib-tooltip="Remove" tooltip-placement="top" class="btn btn-transparent btn-xs tooltips" href="#"><i class="fa fa-times fa fa-white"></i></a>
                </div>
                <div class="visible-xs visible-sm hidden-md hidden-lg">
                  <div uib-dropdown="" class="btn-group dropdown">
                    <button uib-dropdown-toggle="" class="btn btn-primary btn-sm dropdown-toggle" type="button" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-cog"></i>&nbsp;<span class="caret"></span>
                    </button>
                    <ul role="menu" class="dropdown-menu pull-right dropdown-light">
                      <li>
                        <a href="#">
                          Edit
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          Share
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          Remove
                        </a>
                      </li>
                    </ul>
                  </div>
                </div></td>
              </tr>
              <tr>
                <td class="center"><img alt="image" class="img-rounded" src="assets/images/avatar-2.jpg"></td>
                <td>Nicole Bell</td>
                <td class="hidden-xs">Content Designer</td>
                <td class="hidden-xs">
                  <a target="_blank" rel="nofollow" href="#">
                    nicole@example.com
                  </a></td>
                  <td class="hidden-xs">(741)-034-4573</td>
                  <td class="center">
                    <div class="visible-md visible-lg hidden-sm hidden-xs">
                      <a uib-tooltip="Edit" tooltip-placement="top" class="btn btn-transparent btn-xs" href="#"><i class="fa fa-pencil"></i></a>
                      <a uib-tooltip="Share" tooltip-placement="top" class="btn btn-transparent btn-xs tooltips" href="#"><i class="fa fa-share"></i></a>
                      <a uib-tooltip="Remove" tooltip-placement="top" class="btn btn-transparent btn-xs tooltips" href="#"><i class="fa fa-times fa fa-white"></i></a>
                    </div>
                    <div class="visible-xs visible-sm hidden-md hidden-lg">
                      <div uib-dropdown="" class="btn-group dropdown">
                        <button uib-dropdown-toggle="" class="btn btn-primary btn-sm dropdown-toggle" type="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-cog"></i>&nbsp;<span class="caret"></span>
                        </button>
                        <ul role="menu" class="dropdown-menu pull-right dropdown-light">
                          <li>
                            <a href="#">
                              Edit
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              Share
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              Remove
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div></td>
                  </tr>
                  <tr>
                    <td class="center"><img alt="image" class="img-rounded" src="assets/images/avatar-3.jpg"></td>
                    <td>Steven Thompson</td>
                    <td class="hidden-xs">Visual Designer</td>
                    <td class="hidden-xs">
                      <a target="_blank" rel="nofollow" href="#">
                        steven@example.com
                      </a></td>
                      <td class="hidden-xs">(471)-543-4073</td>
                      <td class="center">
                        <div class="visible-md visible-lg hidden-sm hidden-xs">
                          <a uib-tooltip="Edit" tooltip-placement="top" class="btn btn-transparent btn-xs" href="#"><i class="fa fa-pencil"></i></a>
                          <a uib-tooltip="Share" tooltip-placement="top" class="btn btn-transparent btn-xs tooltips" href="#"><i class="fa fa-share"></i></a>
                          <a uib-tooltip="Remove" tooltip-placement="top" class="btn btn-transparent btn-xs tooltips" href="#"><i class="fa fa-times fa fa-white"></i></a>
                        </div>
                        <div class="visible-xs visible-sm hidden-md hidden-lg">
                          <div uib-dropdown="" class="btn-group dropdown">
                            <button uib-dropdown-toggle="" class="btn btn-primary btn-sm dropdown-toggle" type="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-cog"></i>&nbsp;<span class="caret"></span>
                            </button>
                            <ul role="menu" class="dropdown-menu pull-right dropdown-light">
                              <li>
                                <a href="#">
                                  Edit
                                </a>
                              </li>
                              <li>
                                <a href="#">
                                  Share
                                </a>
                              </li>
                              <li>
                                <a href="#">
                                  Remove
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div></td>
                      </tr>
                      <tr>
                        <td class="center"><img alt="image" class="img-rounded" src="assets/images/avatar-4.jpg"></td>
                        <td>Ella Patterson</td>
                        <td class="hidden-xs">Web Editor</td>
                        <td class="hidden-xs">
                          <a target="_blank" rel="nofollow" href="#">
                            ella@example.com
                          </a></td>
                          <td class="hidden-xs">(799)-994-9999</td>
                          <td class="center">
                            <div class="visible-md visible-lg hidden-sm hidden-xs">
                              <a uib-tooltip="Edit" tooltip-placement="top" class="btn btn-transparent btn-xs" href="#"><i class="fa fa-pencil"></i></a>
                              <a uib-tooltip="Share" tooltip-placement="top" class="btn btn-transparent btn-xs tooltips" href="#"><i class="fa fa-share"></i></a>
                              <a uib-tooltip="Remove" tooltip-placement="top" class="btn btn-transparent btn-xs tooltips" href="#"><i class="fa fa-times fa fa-white"></i></a>
                            </div>
                            <div class="visible-xs visible-sm hidden-md hidden-lg">
                              <div uib-dropdown="" class="btn-group dropdown">
                                <button uib-dropdown-toggle="" class="btn btn-primary btn-sm dropdown-toggle" type="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-cog"></i>&nbsp;<span class="caret"></span>
                                </button>
                                <ul role="menu" class="dropdown-menu pull-right dropdown-light">
                                  <li>
                                    <a href="#">
                                      Edit
                                    </a>
                                  </li>
                                  <li>
                                    <a href="#">
                                      Share
                                    </a>
                                  </li>
                                  <li>
                                    <a href="#">
                                      Remove
                                    </a>
                                  </li>
                                </ul>
                              </div>
                            </div></td>
                          </tr>
                          <tr>
                            <td class="center"><img alt="image" class="img-rounded" src="assets/images/avatar-5.jpg"></td>
                            <td>Kenneth Ross</td>
                            <td class="hidden-xs">Senior Designer</td>
                            <td class="hidden-xs">
                              <a target="_blank" rel="nofollow" href="#">
                                kenneth@example.com
                              </a></td>
                              <td class="hidden-xs">(111)-114-1173</td>
                              <td class="center">
                                <div class="visible-md visible-lg hidden-sm hidden-xs">
                                  <a uib-tooltip="Edit" tooltip-placement="top" class="btn btn-transparent btn-xs" href="#"><i class="fa fa-pencil"></i></a>
                                  <a uib-tooltip="Share" tooltip-placement="top" class="btn btn-transparent btn-xs tooltips" href="#"><i class="fa fa-share"></i></a>
                                  <a uib-tooltip="Remove" tooltip-placement="top" class="btn btn-transparent btn-xs tooltips" href="#"><i class="fa fa-times fa fa-white"></i></a>
                                </div>
                                <div class="visible-xs visible-sm hidden-md hidden-lg">
                                  <div uib-dropdown="" class="btn-group dropdown">
                                    <button uib-dropdown-toggle="" class="btn btn-primary btn-sm dropdown-toggle" type="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-cog"></i>&nbsp;<span class="caret"></span>
                                    </button>
                                    <ul role="menu" class="dropdown-menu pull-right dropdown-light">
                                      <li>
                                        <a href="#">
                                          Edit
                                        </a>
                                      </li>
                                      <li>
                                        <a href="#">
                                          Share
                                        </a>
                                      </li>
                                      <li>
                                        <a href="#">
                                          Remove
                                        </a>
                                      </li>
                                    </ul>
                                  </div>
                                </div></td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
